## **Preprocessing dát o VŠ učiteľoch**

In [2]:
import pandas as pd

### Functions definitions:

In [2]:
def fix_table(df, university_type=None):
    """
    Fill the university names. Remove summary rows. Eventually add type of university.
    """
    # backfill / bfill: replaces NaN values with the next non-NaN value that appears in the column
    df['univerzita'] = df['univerzita'].fillna(method='backfill')
    # remove summary rows = rows without specified Faculty
    df = df.dropna(axis=0, subset='fakulta').reset_index(drop=True)
    if university_type:
        df['typ'] = university_type
    return df

In [3]:
def load_summary_table(file_path, sheet_name_fulltime, sheet_name_parttime, university_type, year):
    """
    Loads summary data about universities and their numbers of teachers into a dataframe.
    """
    df_fulltime = fix_table(pd.read_excel(file_path, sheet_name=sheet_name_fulltime, header=5, usecols="A:D"
                                         ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                           'Unnamed: 2': 'spolu full-time', 'Unnamed: 3': 'ženy full-time'}),
                            university_type=university_type)
    df_parttime = fix_table(pd.read_excel(file_path, sheet_name=sheet_name_parttime, header=5, usecols="A:D"
                                         ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                           'Unnamed: 2': 'spolu part-time', 'Unnamed: 3': 'ženy part-time'}),
                            university_type=university_type)
    merged = pd.merge(df_fulltime, df_parttime, how="outer", on=['univerzita', 'fakulta', 'typ']
                     ).fillna(0).astype({'spolu full-time': int, 'spolu part-time': int, 'ženy full-time': int, 'ženy part-time': int})
    merged['rok'] = year
                                         
    return merged[['univerzita', 'fakulta', 'typ', 'rok', 'spolu full-time', 'spolu part-time', 'ženy full-time', 'ženy part-time']]

In [4]:
def add_type_of_teacher(df, type_of_teacher):
    """
    Add column for type_of_teacher.
    """
    df['typ učiteľa'] = type_of_teacher
    return df

In [5]:
def create_degrees_table(file_path, sheet_name, commitment, year, university_type):
    """
    Loads data about teachers and their degrees into a dataframe.
    """
    df_prof = add_type_of_teacher(fix_table(pd.read_excel(file_path, sheet_name=sheet_name, usecols="A:B, E:G", header=5
                                                         ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                                  'Unnamed: 4': 'spolu', 'Unnamed: 5': 'DrSc.', 'PhD.': 'CSc., PhD.'}),
                                           university_type=university_type),
                                  type_of_teacher='profesor')
    df_doc = add_type_of_teacher(fix_table(pd.read_excel(file_path, sheet_name=sheet_name, usecols="A:B, H:J", header=5
                                                        ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                                 'Unnamed: 7': 'spolu', 'Unnamed: 8': 'DrSc.', 'PhD..1': 'CSc., PhD.'}),
                                          university_type=university_type),
                                 type_of_teacher='docent')
    df_odb = add_type_of_teacher(fix_table(pd.read_excel(file_path, sheet_name=sheet_name, usecols="A:B, K:L", header=5
                                                        ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                                 'Unnamed: 10': 'spolu', 'PhD..2': 'CSc., PhD.'}),
                                          university_type=university_type),
                                 type_of_teacher='odborný asistent')
    df_asis = add_type_of_teacher(fix_table(pd.read_excel(file_path, sheet_name=sheet_name, usecols="A:B, M", header=5
                                                        ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                                 'Unnamed: 12': 'spolu'}),
                                           university_type=university_type),
                                 type_of_teacher='asistent')
    df_lekt = add_type_of_teacher(fix_table(pd.read_excel(file_path, sheet_name=sheet_name, usecols="A:B, N", header=5
                                                        ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                                 'Unnamed: 13': 'spolu'}),
                                           university_type=university_type),
                                 type_of_teacher='lektor')
    df_host = add_type_of_teacher(fix_table(pd.read_excel(file_path, sheet_name=sheet_name, usecols="A:B, O", header=5
                                                        ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta', 
                                                                 'Unnamed: 14': 'spolu'}),
                                           university_type=university_type),
                                 type_of_teacher='hosťujúci profesor')
    concatenated = pd.concat([df_prof, df_doc, df_odb, df_asis, df_lekt, df_host], axis=0, join='outer'
                            ).fillna(0).astype({'DrSc.': int, 'CSc., PhD.': int, 'spolu': int})
    concatenated['iný/žiadny titul'] = concatenated['spolu'] - concatenated['DrSc.'] - concatenated['CSc., PhD.']
    concatenated['úväzok'] = commitment
    concatenated['rok'] = year
    
    return concatenated[['univerzita', 'fakulta', 'typ', 'rok', 'typ učiteľa', 'úväzok', 'DrSc.', 'CSc., PhD.', 'iný/žiadny titul', 'spolu']].reset_index(drop=True)

In [6]:
def load_all(file_path, year):
    """
    Loads all data about teachers from a certain file_path for a certain year and stores them into 2 dataframes: summary and degrees.
    """
    public = load_summary_table(file_path, sheet_name_fulltime='Tab16v', sheet_name_parttime='Tab17v', university_type='verejná', year=year)
    private = load_summary_table(file_path, sheet_name_fulltime='Tab16s', sheet_name_parttime='Tab17s', university_type='súkromná', year=year)
    state = load_summary_table(file_path, sheet_name_fulltime='Tab16š', sheet_name_parttime='Tab17š', university_type='štátna', year=year)
    summary = pd.concat([public, private, state]).reset_index(drop=True)
    
    degrees_fulltime_v = create_degrees_table(file_path=file_path, sheet_name='Tab16v', commitment='full-time', year=year, university_type='verejná')
    degrees_parttime_v = create_degrees_table(file_path=file_path, sheet_name='Tab17v', commitment='part-time', year=year, university_type='verejná')
    degrees_fulltime_s = create_degrees_table(file_path=file_path, sheet_name='Tab16s', commitment='full-time', year=year, university_type='súkromná')
    degrees_parttime_s = create_degrees_table(file_path=file_path, sheet_name='Tab17s', commitment='part-time', year=year, university_type='súkromná')
    degrees_fulltime_st = create_degrees_table(file_path=file_path, sheet_name='Tab16š', commitment='full-time', year=year, university_type='štátna')
    degrees_parttime_st = create_degrees_table(file_path=file_path, sheet_name='Tab17š', commitment='part-time', year=year, university_type='štátna')
    degrees = pd.concat([degrees_fulltime_v, degrees_parttime_v, degrees_fulltime_s, 
                         degrees_parttime_s, degrees_fulltime_st, degrees_parttime_st]).reset_index(drop=True)
    
    return summary, degrees

### Load the data:

#### - rok 2022:

In [7]:
public_22 = load_summary_table('../data/cvtisr/vs2022/vs2022.xls', sheet_name_fulltime='Tab16v', sheet_name_parttime='Tab17v', university_type='verejná', year=2022)
display(public_22)

,univerzita,fakulta,typ,rok,spolu full-time,spolu part-time,ženy full-time,ženy part-time
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,verejná,2022,21,19,2,3
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,verejná,2022,14,2,2,2
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,verejná,2022,211,21,63,5
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,verejná,2022,319,48,139,20
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,verejná,2022,69,2,39,1
...,...,...,...,...,...,...,...,...
112,VŠ MÚZICKÝCH UMENÍ,VŠMU - rektorát,verejná,2022,3,2,3,2
113,VŠ VÝTVARNÝCH UMENÍ,Fa výtvar. umení VŠVU,verejná,2022,118,12,40,4
114,AKADÉMIA UMENÍ,Fa dramat. umení AU,verejná,2022,35,2,10,1
115,AKADÉMIA UMENÍ,Fa múzických umení AU,verejná,2022,66,8,23,4
116,AKADÉMIA UMENÍ,Fa výtvarných umení AU,verejná,2022,33,3,9,1

In [8]:
private_22 = load_summary_table('../data/cvtisr/vs2022/vs2022.xls', sheet_name_fulltime='Tab16s', sheet_name_parttime='Tab17s', university_type='súkromná', year=2022)
display(private_22)

,univerzita,fakulta,typ,rok,spolu full-time,spolu part-time,ženy full-time,ženy part-time
0,BRATISLAVSKÁ MEDZ.ŠKOLA,Fa liberálnych štúdií,súkromná,2022,6,9,3,1
1,VŠ DANUBIUS,Fa verejnej politiky,súkromná,2022,6,3,3,0
2,VŠ DANUBIUS,Fa práva J.Jesenského,súkromná,2022,9,4,3,1
3,VŠ DANUBIUS,Fa sociálnych štúdií,súkromná,2022,9,0,3,0
4,PANEURÓPSKA VŠ,Fa informatiky PEVŠ,súkromná,2022,8,0,0,0
5,PANEURÓPSKA VŠ,Fa ekon. a podnikania,súkromná,2022,10,3,5,0
6,PANEURÓPSKA VŠ,Fa práva PEVŠ,súkromná,2022,24,6,12,1
7,PANEURÓPSKA VŠ,Fa masmédií PEVŠ,súkromná,2022,11,4,4,0
8,PANEURÓPSKA VŠ,Fa psychológie PEVŠ,súkromná,2022,15,0,12,0
9,VŠZaSP sv.ALŽBETY,VŠZaSP - rektorát,súkromná,2022,250,244,147,152
10,VŠZaSP sv.ALŽBETY,Fa zdravot.a soc. práce,súkromná,2022,31,17,23,11
11,Vysoká škola DTI,Elektrotechnická fak.,súkromná,2022,42,13,28,7
12,VŠ EKON. a MANAŽMENTU,F ek.a manaž.ver.správy,súkromná,2022,37,4,16,2
13,VŠ MANAŽMENTU,Fa manažmentu VŠM,súkromná,2022,17,1,13,1
14,VŠ MEDZIN.PODNIKANIA,Ekonomická fakulta ISM,súkromná,2022,23,10,11,9
15,HUDOBNÁ A UMELECKÁ AKAD,Fa hudobných umení,súkromná,2022,11,7,3,1
16,VŠ BEZPEČN. MANAŽÉRSTVA,FA bezpečn. manažérstva,súkromná,2022,18,0,4,0

In [9]:
state_22 = load_summary_table('../data/cvtisr/vs2022/vs2022.xls', sheet_name_fulltime='Tab16š', sheet_name_parttime='Tab17š', university_type='štátna', year=2022)
display(state_22)

,univerzita,fakulta,typ,rok,spolu full-time,spolu part-time,ženy full-time,ženy part-time
0,SLOV.ZDRAVOTNÍCKA UNIV.,SZU - rektorát,štátna,2022,1,0,0,0
1,SLOV.ZDRAVOTNÍCKA UNIV.,"Fa ošetr.,zdrav.odb.štú",štátna,2022,26,47,18,31
2,SLOV.ZDRAVOTNÍCKA UNIV.,Lekárska fakulta,štátna,2022,86,245,40,119
3,SLOV.ZDRAVOTNÍCKA UNIV.,Fa verejného zdravotn.,štátna,2022,16,7,11,5
4,SLOV.ZDRAVOTNÍCKA UNIV.,Fa zdravotníctva,štátna,2022,24,64,15,39
5,AKADÉMIA OZBROJ.SÍL,Vojenská fakulta AOS,štátna,2022,84,0,16,0
6,AKADÉMIA POLIC.ZBORU,Fa Polic.zboru (fikt.),štátna,2022,92,10,44,2

In [10]:
summary = pd.concat([public_22, private_22, state_22]).reset_index(drop=True)
display(summary)

,univerzita,fakulta,typ,rok,spolu full-time,spolu part-time,ženy full-time,ženy part-time
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,verejná,2022,21,19,2,3
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,verejná,2022,14,2,2,2
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,verejná,2022,211,21,63,5
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,verejná,2022,319,48,139,20
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,verejná,2022,69,2,39,1
...,...,...,...,...,...,...,...,...
136,SLOV.ZDRAVOTNÍCKA UNIV.,Lekárska fakulta,štátna,2022,86,245,40,119
137,SLOV.ZDRAVOTNÍCKA UNIV.,Fa verejného zdravotn.,štátna,2022,16,7,11,5
138,SLOV.ZDRAVOTNÍCKA UNIV.,Fa zdravotníctva,štátna,2022,24,64,15,39
139,AKADÉMIA OZBROJ.SÍL,Vojenská fakulta AOS,štátna,2022,84,0,16,0
140,AKADÉMIA POLIC.ZBORU,Fa Polic.zboru (fikt.),štátna,2022,92,10,44,2

In [11]:
degrees_fulltime_v = create_degrees_table(file_path='../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab16v', commitment='full-time', year=2022, university_type='verejná')
degrees_parttime_v = create_degrees_table(file_path='../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab17v', commitment='part-time', year=2022, university_type='verejná')

degrees_fulltime_s = create_degrees_table(file_path='../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab16s', commitment='full-time', year=2022, university_type='súkromná')
degrees_parttime_s = create_degrees_table(file_path='../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab17s', commitment='part-time', year=2022, university_type='súkromná')

degrees_fulltime_st = create_degrees_table(file_path='../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab16š', commitment='full-time', year=2022, university_type='štátna')
degrees_parttime_st = create_degrees_table(file_path='../data/cvtisr/vs2022/vs2022.xls', sheet_name='Tab17š', commitment='part-time', year=2022, university_type='štátna')

degrees = pd.concat([degrees_fulltime_v, degrees_parttime_v, degrees_fulltime_s, 
                        degrees_parttime_s, degrees_fulltime_st, degrees_parttime_st]).reset_index(drop=True)
display(degrees)

,univerzita,fakulta,typ,rok,typ učiteľa,úväzok,DrSc.,"CSc., PhD.",iný/žiadny titul,spolu
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,verejná,2022,profesor,full-time,0,6,0,6
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,verejná,2022,profesor,full-time,0,4,0,4
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,verejná,2022,profesor,full-time,17,26,0,43
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,verejná,2022,profesor,full-time,17,32,0,49
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,verejná,2022,profesor,full-time,0,15,0,15
...,...,...,...,...,...,...,...,...,...,...
1537,SLOV.ZDRAVOTNÍCKA UNIV.,"Fa ošetr.,zdrav.odb.štú",štátna,2022,hosťujúci profesor,part-time,0,0,0,0
1538,SLOV.ZDRAVOTNÍCKA UNIV.,Lekárska fakulta,štátna,2022,hosťujúci profesor,part-time,0,0,0,0
1539,SLOV.ZDRAVOTNÍCKA UNIV.,Fa verejného zdravotn.,štátna,2022,hosťujúci profesor,part-time,0,0,0,0
1540,SLOV.ZDRAVOTNÍCKA UNIV.,Fa zdravotníctva,štátna,2022,hosťujúci profesor,part-time,0,0,0,0
1541,AKADÉMIA POLIC.ZBORU,Fa Polic.zboru (fikt.),štátna,2022,hosťujúci profesor,part-time,0,0,0,0

#### - všetky roky 2009-2022: načítanie dát, predspracovanie a uloženie do csv

In [13]:
whole_summary, whole_degrees = pd.DataFrame(), pd.DataFrame()
for year in range(2009, 2023):
    path = f"../data/cvtisr/vs{year}/vs{year}.xls"
    year = path[-8:-4]
    print(f"Preprocessing data from year {year}")
    summary_year, degrees_year = load_all(file_path=path, year=year)
    
    whole_summary = pd.concat([whole_summary, summary_year]).reset_index(drop=True)
    whole_degrees = pd.concat([whole_degrees, degrees_year]).reset_index(drop=True)
    
whole_summary.to_csv(f'../data/preprocessed/cvtisr/half-preprocessed/cvtisr_teachers_summary.csv', sep=';', index=False)
whole_degrees.to_csv(f'../data/preprocessed/cvtisr/half-preprocessed/cvtisr_teachers_data_degrees.csv', sep=';', index=False)

Preprocessing data from year 2009
Preprocessing data from year 2010
Preprocessing data from year 2011
Preprocessing data from year 2012
Preprocessing data from year 2013
Preprocessing data from year 2014
Preprocessing data from year 2015
Preprocessing data from year 2016
Preprocessing data from year 2017
Preprocessing data from year 2018
Preprocessing data from year 2019
Preprocessing data from year 2020
Preprocessing data from year 2021
Preprocessing data from year 2022

## **Preprocessing dát o VŠ absolventoch**

In [29]:
def load_graduates(file_path, sheet_name, university_type, year):
    """
    Loads data about graduates from a given sheet into a dataframe.
    """
    df = fix_table(pd.read_excel(file_path, sheet_name=sheet_name, usecols="A:B, C, E, G, I, K, M, O", header=5
                                ).rename(columns={'Unnamed: 0': 'univerzita', 'Unnamed: 1': 'fakulta'}),
                   university_type=university_type)
    df['abs 1.-2.stupeň denní'] = (df['spolu'] + df['spolu.1']).astype(int)
    df['abs 1.-2.stupeň externí'] = df['spolu.2'].astype(int)
    df['abs 3.stupeň denní'] = (df['spolu.3'] + df['spolu.4']).astype(int)
    df['abs 3.stupeň externí'] = df['spolu.5'].astype(int)
    df['abs 3.stupeň externých vzdelávacích inštitúcií'] = df['spolu.6'].astype(int)
    df['rok'] = year
    return df[['univerzita', 'fakulta', 'typ', 'rok', 'abs 1.-2.stupeň denní', 'abs 1.-2.stupeň externí',
             'abs 3.stupeň denní', 'abs 3.stupeň externí', 'abs 3.stupeň externých vzdelávacích inštitúcií']]

In [30]:
def load_all_graduates(file_path, year):
    """
    Loads data about graduates from a fiven file into a dataframe.
    """
    public = load_graduates(file_path, sheet_name='Tab1v', university_type='verejná', year=year)
    private = load_graduates(file_path, sheet_name='Tab1s', university_type='súkromná', year=year)
    state = load_graduates(file_path, sheet_name='Tab1š', university_type='štátna', year=year)
    all_data = pd.concat([public, private, state]).reset_index(drop=True)
    
    return all_data

In [31]:
load_all_graduates("../data/cvtisr/vs2021/abvs_2021.xls", year=2021)

,univerzita,fakulta,typ,rok,abs 1.-2.stupeň denní,abs 1.-2.stupeň externí,abs 3.stupeň denní,abs 3.stupeň externí,abs 3.stupeň externých vzdelávacích inštitúcií
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,verejná,2021,13,0,0,1,0
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,verejná,2021,3,0,1,0,0
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,verejná,2021,307,0,26,1,5
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,verejná,2021,561,2,70,6,26
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,verejná,2021,421,227,7,21,0
...,...,...,...,...,...,...,...,...,...
130,SLOV.ZDRAVOTNÍCKA UNIV.,Lekárska fakulta,štátna,2021,106,0,0,5,0
131,SLOV.ZDRAVOTNÍCKA UNIV.,Fa verejného zdravotn.,štátna,2021,11,8,1,16,0
132,SLOV.ZDRAVOTNÍCKA UNIV.,Fa zdravotníctva,štátna,2021,104,1,0,0,0
133,AKADÉMIA OZBROJ.SÍL,Vojenská fakulta AOS,štátna,2021,139,66,0,5,0
134,AKADÉMIA POLIC.ZBORU,Fa Polic.zboru (fikt.),štátna,2021,241,166,1,13,0

#### - všetky roky 2009-2021: načítanie dát o absolventoch, predspracovanie a uloženie do csv

In [32]:
data_paths = ['../data/cvtisr/vs2009/abvs2009.XLS', '../data/cvtisr/vs2010/abvs2010.XLS',
             '../data/cvtisr/vs2011/abvs2011.XLS', '../data/cvtisr/vs2012/abvs2012.XLS',
             '../data/cvtisr/vs2013/abvs2013.XLS', '../data/cvtisr/vs2014/abvs2014.xls',
             '../data/cvtisr/vs2015/abvs2015.xls', '../data/cvtisr/vs2016/abvs2016.xls',
             '../data/cvtisr/vs2017/abvs2017.xls', '../data/cvtisr/vs2018/abvs_2018.xls',
             '../data/cvtisr/vs2019/abvs_2019.xls', '../data/cvtisr/vs2020/abvs_2020.xls',
             '../data/cvtisr/vs2021/abvs_2021.xls']

In [33]:
all_graduates = pd.DataFrame()
for path in data_paths:
    year = path[-8:-4]
    print(f"Preprocessing data from year {year}")
    graduates_year = load_all_graduates(file_path=path, year=year)
    
    all_graduates = pd.concat([all_graduates, graduates_year]).reset_index(drop=True)
    
all_graduates.to_csv(f'../data/preprocessed/cvtisr/half-preprocessed/cvtisr_graduates.csv', sep=';', index=False)

Preprocessing data from year 2009
Preprocessing data from year 2010
Preprocessing data from year 2011
Preprocessing data from year 2012
Preprocessing data from year 2013
Preprocessing data from year 2014
Preprocessing data from year 2015
Preprocessing data from year 2016
Preprocessing data from year 2017
Preprocessing data from year 2018
Preprocessing data from year 2019
Preprocessing data from year 2020
Preprocessing data from year 2021

## Prispôsobenie dát do formátu, v akom sú dotácie

t.j. zgrupit podla univerzity, treba vybrat tychto 20 univerzit: UK, UPJŠ, KU, AU, VŠVU, VŠMU, TUZVO, SPU, EU, TUAD, ŽU, TUKE, STU, TVU, UMB, UKF, UVL, UCM, PU, UJS
... vsetko su to verejne univerzity

In [3]:
df_graduates = pd.read_csv('../data/preprocessed/cvtisr/half-preprocessed/cvtisr_graduates.csv', sep=';')
df_teachers_summary = pd.read_csv('../data/preprocessed/cvtisr/half-preprocessed/cvtisr_teachers_summary.csv', sep=';')
df_teachers_degrees = pd.read_csv('../data/preprocessed/cvtisr/half-preprocessed/cvtisr_teachers_data_degrees.csv', sep=';')

In [4]:
display(df_graduates)

,univerzita,fakulta,typ,rok,abs 1.-2.stupeň denní,abs 1.-2.stupeň externí,abs 3.stupeň denní,abs 3.stupeň externí,abs 3.stupeň externých vzdelávacích inštitúcií
0,UNIVERZITA KOMENSKÉHO,Rímskokat.bohosl.fak.UK,verejná,2009,29,68,1,2,0
1,UNIVERZITA KOMENSKÉHO,Evanj. bohosl. fak. UK,verejná,2009,29,0,4,3,0
2,UNIVERZITA KOMENSKÉHO,Fa matem.fyz. a inf. UK,verejná,2009,514,0,33,11,12
3,UNIVERZITA KOMENSKÉHO,Prírodovedecká fak. UK,verejná,2009,826,128,32,16,42
4,UNIVERZITA KOMENSKÉHO,Fakulta managementu UK,verejná,2009,509,813,5,19,0
...,...,...,...,...,...,...,...,...,...
1747,SLOV.ZDRAVOTNÍCKA UNIV.,Lekárska fakulta,štátna,2021,106,0,0,5,0
1748,SLOV.ZDRAVOTNÍCKA UNIV.,Fa verejného zdravotn.,štátna,2021,11,8,1,16,0
1749,SLOV.ZDRAVOTNÍCKA UNIV.,Fa zdravotníctva,štátna,2021,104,1,0,0,0
1750,AKADÉMIA OZBROJ.SÍL,Vojenská fakulta AOS,štátna,2021,139,66,0,5,0
1751,AKADÉMIA POLIC.ZBORU,Fa Polic.zboru (fikt.),štátna,2021,241,166,1,13,0

- chceme vlastne iba verejne univerzity:

In [4]:
df_graduates = df_graduates[df_graduates['typ'] == 'verejná']
df_teachers_summary = df_teachers_summary[df_teachers_summary['typ'] == 'verejná']
df_teachers_degrees = df_teachers_degrees[df_teachers_degrees['typ'] == 'verejná']

In [5]:
set(df_graduates['univerzita'])

{'AKADÉMIA UMENÍ',
 'EKONOMICKÁ UNIVERZITA',
 'KATOLÍCKA UNIVERZITA',
 'PREŠOVSKÁ UNIVERZITA',
 'SLOV. POĽNOHOSP. UNIV.',
 'SLOV.TECHN. UNIVERZITA',
 'TECH. UNIVERZITA KOŠICE',
 'TECH. UNIVERZITA ZVOLEN',
 'TRENČ. UNIV. A.DUBČEKA',
 'TRENČIANSKA UNIVERZITA',
 'TRNAVSKÁ UNIVERZITA',
 'UNIV.sv.CYRILA a METODA',
 'UNIVER. KONŠT. FILOZOFA',
 'UNIVERZITA J.SELYEHO',
 'UNIVERZITA KOMENSKÉHO',
 'UNIVERZITA MATEJA BELA',
 'UNIVERZITA P.J.ŠAFÁRIKA',
 'UNIVERZITA VETERIN.LEK.',
 'VŠ MÚZICKÝCH UMENÍ',
 'VŠ VÝTVARNÝCH UMENÍ',
 'ŽILINSKÁ UNIVERZITA'}

In [6]:
set(df_graduates['univerzita']) == set(df_teachers_summary['univerzita']) == set(df_teachers_degrees['univerzita'])

True

In [7]:
university_abbreviations = {'UNIVERZITA KOMENSKÉHO': 'UK', 
                            'UNIVERZITA P.J.ŠAFÁRIKA': 'UPJŠ', 
                            'KATOLÍCKA UNIVERZITA': 'KU', 
                            'AKADÉMIA UMENÍ': 'AU', 
                            'VŠ VÝTVARNÝCH UMENÍ': 'VŠVU', 
                            'VŠ MÚZICKÝCH UMENÍ': 'VŠMU', 
                            'TECH. UNIVERZITA ZVOLEN': 'TUZVO', 
                            'SLOV. POĽNOHOSP. UNIV.': 'SPU', 
                            'EKONOMICKÁ UNIVERZITA': 'EU', 
                            'TRENČ. UNIV. A.DUBČEKA': 'TUAD', 
                            'TRENČIANSKA UNIVERZITA': 'TUAD',
                            'ŽILINSKÁ UNIVERZITA': 'ŽU', 
                            'TECH. UNIVERZITA KOŠICE': 'TUKE', 
                            'SLOV.TECHN. UNIVERZITA': 'STU', 
                            'TRNAVSKÁ UNIVERZITA': 'TVU', 
                            'UNIVERZITA MATEJA BELA': 'UMB', 
                            'UNIVER. KONŠT. FILOZOFA': 'UKF', 
                            'UNIVERZITA VETERIN.LEK.': 'UVL', 
                            'UNIV.sv.CYRILA a METODA': 'UCM', 
                            'PREŠOVSKÁ UNIVERZITA': 'PU', 
                            'UNIVERZITA J.SELYEHO': 'UJS'}

- Premenovanie univerzit na ich skratky:

In [8]:
for df in [df_graduates, df_teachers_summary, df_teachers_degrees]:
    df['univerzita'] = df['univerzita'].map(university_abbreviations)
    
display(df_graduates)
display(df_teachers_summary)
display(df_teachers_degrees)

,univerzita,fakulta,typ,rok,abs 1.-2.stupeň denní,abs 1.-2.stupeň externí,abs 3.stupeň denní,abs 3.stupeň externí,abs 3.stupeň externých vzdelávacích inštitúcií
0,UK,Rímskokat.bohosl.fak.UK,verejná,2009,29,68,1,2,0
1,UK,Evanj. bohosl. fak. UK,verejná,2009,29,0,4,3,0
2,UK,Fa matem.fyz. a inf. UK,verejná,2009,514,0,33,11,12
3,UK,Prírodovedecká fak. UK,verejná,2009,826,128,32,16,42
4,UK,Fakulta managementu UK,verejná,2009,509,813,5,19,0
...,...,...,...,...,...,...,...,...,...
1724,VŠMU,Hud.a tanečná fak. VŠMU,verejná,2021,137,12,6,7,0
1725,VŠVU,Fa výtvar. umení VŠVU,verejná,2021,173,0,3,8,0
1726,AU,Fa dramat. umení AU,verejná,2021,51,0,1,2,0
1727,AU,Fa múzických umení AU,verejná,2021,59,0,5,7,0
1728,AU,Fa výtvarných umení AU,verejná,2021,46,0,3,0,0

,univerzita,fakulta,typ,rok,spolu full-time,spolu part-time,ženy full-time,ženy part-time
0,UK,Rímskokat.bohosl.fak.UK,verejná,2009,22,46,3,6
1,UK,Evanj. bohosl. fak. UK,verejná,2009,15,4,4,1
2,UK,UK - rektorát,verejná,2009,18,1,16,1
3,UK,Fa matem.fyz. a inf. UK,verejná,2009,189,17,46,2
4,UK,Prírodovedecká fak. UK,verejná,2009,251,34,97,10
...,...,...,...,...,...,...,...,...
1956,VŠMU,VŠMU - rektorát,verejná,2022,3,2,3,2
1957,VŠVU,Fa výtvar. umení VŠVU,verejná,2022,118,12,40,4
1958,AU,Fa dramat. umení AU,verejná,2022,35,2,10,1
1959,AU,Fa múzických umení AU,verejná,2022,66,8,23,4
1960,AU,Fa výtvarných umení AU,verejná,2022,33,3,9,1

,univerzita,fakulta,typ,rok,typ učiteľa,úväzok,DrSc.,"CSc., PhD.",iný/žiadny titul,spolu
0,UK,Rímskokat.bohosl.fak.UK,verejná,2009,profesor,full-time,0,1,0,1
1,UK,Evanj. bohosl. fak. UK,verejná,2009,profesor,full-time,0,2,0,2
2,UK,UK - rektorát,verejná,2009,profesor,full-time,0,0,0,0
3,UK,Fa matem.fyz. a inf. UK,verejná,2009,profesor,full-time,21,25,0,46
4,UK,Prírodovedecká fak. UK,verejná,2009,profesor,full-time,20,18,0,38
...,...,...,...,...,...,...,...,...,...,...
22243,VŠMU,VŠMU - rektorát,verejná,2022,hosťujúci profesor,part-time,0,0,0,0
22244,VŠVU,Fa výtvar. umení VŠVU,verejná,2022,hosťujúci profesor,part-time,0,0,0,0
22245,AU,Fa dramat. umení AU,verejná,2022,hosťujúci profesor,part-time,0,0,0,0
22246,AU,Fa múzických umení AU,verejná,2022,hosťujúci profesor,part-time,0,0,0,0
22247,AU,Fa výtvarných umení AU,verejná,2022,hosťujúci profesor,part-time,0,0,0,0

- Group by university, scitaj hodnoty pre jednotl. fakulty:

In [9]:
def clean_and_summarize_data(df: pd.DataFrame, columns_to_drop: list, groupby_list: list, 
                             renamed_columns: dict ={}) -> pd.DataFrame:
    df = df.drop(columns=columns_to_drop)
    grouped_data = df.groupby(groupby_list).sum()
    grouped_data = grouped_data.reset_index()
    grouped_data = grouped_data.rename(columns=renamed_columns)
    return grouped_data

In [10]:
df_graduates = clean_and_summarize_data(df_graduates, columns_to_drop=['fakulta', 'typ'],
                                       groupby_list=['univerzita', 'rok'])
df_teachers_summary = clean_and_summarize_data(df_teachers_summary, columns_to_drop=['fakulta', 'typ', 'ženy full-time', 'ženy part-time'],
                                               groupby_list=['univerzita', 'rok'], 
                                               renamed_columns={'spolu full-time': 'počet full-time zamestnancov', 
                                                                'spolu part-time': 'počet part-time zamestnancov'})
df_teachers_degrees = clean_and_summarize_data(df_teachers_degrees, columns_to_drop=['fakulta', 'typ'],
                                               groupby_list=['univerzita', 'rok', 'typ učiteľa', 'úväzok'])

In [11]:
display(df_graduates)
display(df_teachers_summary)
display(df_teachers_degrees)

,univerzita,rok,abs 1.-2.stupeň denní,abs 1.-2.stupeň externí,abs 3.stupeň denní,abs 3.stupeň externí,abs 3.stupeň externých vzdelávacích inštitúcií
0,AU,2009,189,0,6,1,0
1,AU,2010,199,0,7,1,0
2,AU,2011,200,0,8,3,0
3,AU,2012,196,0,12,4,0
4,AU,2013,173,0,7,8,0
...,...,...,...,...,...,...,...
255,ŽU,2017,2068,281,77,15,0
256,ŽU,2018,2018,135,79,12,0
257,ŽU,2019,1999,100,78,14,0
258,ŽU,2020,1909,121,74,16,0
259,ŽU,2021,1985,104,81,11,0

,univerzita,rok,počet full-time zamestnancov,počet part-time zamestnancov
0,AU,2009,90,26
1,AU,2010,95,21
2,AU,2011,105,21
3,AU,2012,105,20
4,AU,2013,106,29
...,...,...,...,...
275,ŽU,2018,558,51
276,ŽU,2019,559,37
277,ŽU,2020,545,39
278,ŽU,2021,518,44
279,ŽU,2022,527,43

,univerzita,rok,typ učiteľa,úväzok,DrSc.,"CSc., PhD.",iný/žiadny titul,spolu
0,AU,2009,asistent,full-time,0,0,10,10
1,AU,2009,asistent,part-time,0,0,3,3
2,AU,2009,docent,full-time,0,4,9,13
3,AU,2009,docent,part-time,0,1,2,3
4,AU,2009,hosťujúci profesor,full-time,0,0,0,0
...,...,...,...,...,...,...,...,...
3343,ŽU,2022,lektor,part-time,0,0,3,3
3344,ŽU,2022,odborný asistent,full-time,0,226,3,229
3345,ŽU,2022,odborný asistent,part-time,0,32,0,32
3346,ŽU,2022,profesor,full-time,2,86,0,88
3347,ŽU,2022,profesor,part-time,0,1,0,1

In [12]:
df_graduates[df_graduates['univerzita'] == 'AU']

,univerzita,rok,abs 1.-2.stupeň denní,abs 1.-2.stupeň externí,abs 3.stupeň denní,abs 3.stupeň externí,abs 3.stupeň externých vzdelávacích inštitúcií
0,AU,2009,189,0,6,1,0
1,AU,2010,199,0,7,1,0
2,AU,2011,200,0,8,3,0
3,AU,2012,196,0,12,4,0
4,AU,2013,173,0,7,8,0
5,AU,2014,176,0,12,11,0
6,AU,2015,164,0,9,8,0
7,AU,2016,168,0,6,9,3
8,AU,2017,162,0,6,6,0
9,AU,2018,167,0,6,9,0
10,AU,2019,169,0,9,5,0
11,AU,2020,180,0,8,7,0
12,AU,2021,156,0,9,9,0

- Data vyexportujeme do csv:

In [13]:
df_graduates.to_csv('../data/preprocessed/cvtisr/graduates.csv', sep=';', index=False)
df_teachers_summary.to_csv('../data/preprocessed/cvtisr/teachers_summary.csv', sep=';', index=False)
df_teachers_degrees.to_csv('../data/preprocessed/cvtisr/teachers_degrees.csv', sep=';', index=False)