In [1]:
import pandas as pd

## Import data

#### dotacie data:

In [2]:
# inspired by https://stackoverflow.com/questions/71980264/how-to-create-automatic-variables-for-large-number-of-values-in-list-for-ex-li
# data 2008-2012:
s = ""
for i in range(2008, 2013):
    s+=f"data{i} = pd.read_excel('./data/dotacie{i}.xls')\n"
exec(s)

# TODO nacitat jednotlive harky, nie len takto hlupo
# TODO nacitat spravne nazvy stlpcov atd

In [3]:
display(data2008)
display(data2012)

,SR_2008,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,VVŠ,Dotácia celkom BV+KV,z toho: B e ž n é v ý d a v k y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KV
1,NaN,NaN,Bežné dotácie na rok 2008 spolu (program 077),Výkonové zložky (07711: MP+odv\n+TaS) + 0771201,Podprogram 07711- bežné dotácie,07711-mzdy,"07711-odvody z miezd 35,2%",07711-TaS,07711-štipendiá doktorandov bez odvodov,077 11 - záloha na klinické pracoviská,...,07715 - bežné dotácie,Prvok 0771501 -preddavok na sociálne štipendiá,Prvok 0771502 - motivačné štipendiá,Prvok 0771503 -bežné dotácie,0771503\nmzdy-ŠD,"0771503-odvody 35,2%",0771503-TaS pre ŠD,0771503-preddavok na príspevky na jedlá na rok...,"0771503- šport, kultúra, UPC",Prvok 0771201 - kapitálové dotácie na inštituc...
2,UK Bratislava,2106235,2106235,1618682,1691723,937853,330124,190470,165142,68134,...,254277,91913,30759,131605,48214,16971,44177,15627,6616,0
3,UPJŠ Košice,540141,540141,406017,440428,231634,81535,62545,34819,29895,...,69410,39131,9650,20629,7788,2741,8262,1258,580,0
4,PU Prešov,476090,476090,339846,353447,187048,65841,69122,16881,14555,...,104808,65454,11075,28279,10564,3719,9879,2276,1841,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,VŠVU Bratislava,97297,96894,85516,88070,46241,16277,16870,8682,NaN,...,2696,1417,1237,42,0,0,0,0,42,403
67,AU B.Bystrica,64591,64444,55962,55384,30948,10894,11884,1658,NaN,...,6824,3924,1010,1890,929,327,603,0,31,147
68,KU Ružomberok,345102,344637,229892,272651,123090,43328,56412,9077,40744,...,64924,44488,8912,11524,3711,1306,4460,1735,312,465
69,UJS Komárno,48923,48822,36891,36195,17725,6239,11398,833,NaN,...,11098,4338,1874,4886,1841,648,2118,120,159,101
70,Spolu,9862490,9822490,7686939,7987566,4348377,1530630,1199877,648682,260000,...,1226869,460000,238586,528283,191868,67539,198315,47184,23377,40000

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,T1-RD2012_RD2011'!,Tabuľka č. 1 - Rozpis dotácií verejným vysokým...
1,NaN,T1-RD2012_RD2011 (%)'!,Tabuľka č. 1 - Rozpis dotácií verejným vysokým...
2,NaN,T2-KO'!,Tabuľka č. 2 - Výpočet koeficientu odboru pre...
3,NaN,T2-KAP'!,Tabuľka č.2 - Koeficient uplatnenia absolvento...
4,NaN,T3-vstupy'!,Tabuľka č. 3 - Hlavné vstupné a výstupné hodno...
5,NaN,T4-štruk_077'!,Tabuľka č. 4 - Rozpis dotácie na programe 077 ...
6,NaN,T5a-abs'!,Tabuľka č. 5a - Počty absolventov na VVŠ k 31....
7,NaN,T5b-študent'!,Tabuľka č. 5b - Počty študentov na VVŠ k 31.10...
8,NaN,T6a-abs'!,Tabuľka č. 6a - Výkon absolventov verejných vy...
9,NaN,T6b-výkon'!,Tabuľka č. 6b - Výkon verejných vysokých škôl ...
10,NaN,T6c-výkon-fak'!,Tabuľka č. 6c - Výkon verejných vysokých škôl ...
11,NaN,T7-mzdy'!,Tabuľka č. 7 - Rozpis miezd na rok 2012 na pod...
12,NaN,T8-TaS'!,Tabuľka č. 8 - Rozpis prostriedkov na TaS na r...
13,NaN,T9-kultúra-šport'!,"Tabuľka č. 9 - Rozpis príspevkov na šport, kul..."
14,NaN,"T9a_rozpis na TJ,ŠK'!",Tabuľka č. 9a - Rozpis finančných prostriedkov...
15,NaN,T10-prev_ŠD'!,Tabuľka č. 10 - Výpočet príspevku na prevádzku...
16,NaN,T11-sumár_ŠD'!,Tabuľka č. 11 - Sumárne údaje o príspevkoch na...
17,NaN,T12-špecifiká'!,Tabuľka č. 12 - Požiadavky vysokých škôl na po...
18,NaN,T13-sumár-špec'!,Tabuľka č. 13 - Príspevok na akceptované špeci...
19,NaN,T14-VVZ'!,Tabuľka č. 14 - Rozpis prostriedkov na mzdy a ...
20,NaN,T14a-KA'!,Tabuľka č. 14a - Výpočet koeficientu výskumu a...
21,NaN,T14b-podiely'!,Tabuľka č. 14b - Podiely v jednotlivých oblast...
22,NaN,T15-štipendiá-soc-Drš'!,Tabuľka č. 15 - Rozpis sociálnych štipendií na...
23,NaN,T16-KKŠ'!,Tabuľka č. 16 - Výpočet koeficientu kvalifikač...
24,NaN,T17-Klinické-Zahr_lek'!,Tabuľka č. 17 - Rozpis zálohy dotácie na výučb...
25,NaN,T18-Mot_štip'!,Tabuľka č. 18 - Rozpis dotácie na motivačné št...
26,NaN,T19-počty studentov'!,Tabuľka č. 19 - Porovnanie počtov študentov k ...
27,NaN,T20-Publik'!,Tabuľka č. 20 - Podiel VVŠ na publikačnej činn...
28,NaN,T20a-EPC'!,Tabuľka č. 20a - Publikačná činnosť z centráln...
29,NaN,T20b-EUC'!,Tabuľka č. 20b - Umelecká tvorba z centrálneho...
30,NaN,T21-Mobility'!,Tabuľka č. 21 - Dotácia na tovary a služby za ...
31,NaN,T22-praxe'!,Tabuľka č. 22 - Dotácia na špeciálne praxe ver...

In [4]:
# toto nejde v pandas verzii 1.3.0, pricom v starsej verzii to islo... No idea why
pd.read_excel('./data/dotacie2013.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,T1-RD2013_RD2012'!,Tabuľka č. 1 - Rozpis dotácií verejným vysokým...
1,NaN,T1-RD2013_RD2012 (%)'!,Tabuľka č. 1 - Percentuálny rozdiel rozpisu do...
2,NaN,T2-KO'!,Tabuľka č. 2 - Výpočet koeficientu odboru pre...
3,NaN,T2-KAP'!,Tabuľka č.2 - Koeficient uplatnenia absolvento...
4,NaN,T3-vstupy'!,Tabuľka č. 3 - Hlavné vstupné a výstupné hodno...
5,NaN,T4-štruk_077'!,Tabuľka č. 4 - Rozpis dotácie na programe 077 ...
6,NaN,T5a-abs'!,Tabuľka č. 5a - Počty absolventov na VVŠ k 31....
7,NaN,T5b-študent'!,Tabuľka č. 5b - Počty študentov na VVŠ k 31.10...
8,NaN,T6a-abs'!,Tabuľka č. 6a - Výkon absolventov verejných vy...
9,NaN,T6b-výkon'!,Tabuľka č. 6b - Výkon verejných vysokých škôl ...
10,NaN,T6c-výkon-fak'!,Tabuľka č. 6c - Výkon verejných vysokých škôl ...
11,NaN,T7-mzdy'!,Tabuľka č. 7 - Rozpis miezd na rok 2013 na pod...
12,NaN,T8-TaS'!,Tabuľka č. 8 - Rozpis prostriedkov na TaS na r...
13,NaN,T9-kultúra-šport'!,"Tabuľka č. 9 - Rozpis príspevkov na šport, kul..."
14,NaN,"T9a_rozpis na TJ,ŠK'!",Tabuľka č. 9a - Rozpis finančných prostriedkov...
15,NaN,T10-prev_ŠD'!,Tabuľka č. 10 - Výpočet príspevku na prevádzku...
16,NaN,T11-sumár_ŠD'!,Tabuľka č. 11 - Sumárne údaje o príspevkoch na...
17,NaN,T12-špecifiká'!,Tabuľka č. 12 - Finančné prostriedky na špecif...
18,NaN,T13-sumár-špec'!,Tabuľka č. 13 - Príspevok na akceptované špeci...
19,NaN,T14-VVZ'!,Tabuľka č. 14 - Rozpis prostriedkov na mzdy a ...
20,NaN,T14a-KA'!,Tabuľka č. 14a - Výpočet koeficientu výskumu a...
21,NaN,T14b-podiely'!,Tabuľka č. 14b - Podiely v jednotlivých oblast...
22,NaN,T14c-vstup_DG-ZG'!,Tabuľka č. 14c - Objem domácich a zahraničných...
23,NaN,T14d-Drš'!,Tabuľka č. 14d - Počet doktorandov po dizertač...
24,NaN,T15-štipendiá-soc-Drš'!,Tabuľka č. 15 - Rozpis sociálnych štipendií na...
25,NaN,T16-KKŠ'!,Tabuľka č. 16 - Výpočet koeficientu kvalifikač...
26,NaN,T17-Klinické-Zahr_lek'!,Tabuľka č. 17 - Rozpis zálohy dotácie na výučb...
27,NaN,T18-Mot_štip'!,Tabuľka č. 18 - Rozpis dotácie na motivačné št...
28,NaN,T19-počty studentov'!,Tabuľka č. 19 - Porovnanie počtov študentov k ...
29,NaN,T20-Publik'!,Tabuľka č. 20 - Podiel VVŠ na publikačnej činn...
30,NaN,T20a-EPC'!,Tabuľka č. 20a - Publikačná činnosť z centráln...
31,NaN,T20b-EUC'!,Tabuľka č. 20b - Umelecká tvorba z centrálneho...
32,NaN,T21-Mobility'!,Tabuľka č. 21 - Dotácia na tovary a služby za ...
33,NaN,T22-praxe'!,Tabuľka č. 22 - Dotácia na špeciálne praxe ver...

In [5]:
# a teda nejde ani tento kod kvoli tomu vyssie spomenutemu problemu :/
# nacitanie dat 2013-2022:
for i in range(2013, 2023):
    s+=f"data{i} = pd.read_excel('./data/dotacie{i}.xlsx')\n"
exec(s)

#### regzam data:

In [6]:
# toto nieco robi, ale nenacitava to vsetky data: vid Employment NaN, pricom tam malo nacitat este dalsie urovne ako University a pod.
regzam_data = pd.read_xml('./data/regzam_portalvs.xml')
display(regzam_data)

,Id,GivenName,FamilyName,DegreePedagogicalAcademic,DegreeMaster,DegreeDoctor,Employment,Guarantee
0,18799121690,Štefan,Kočan,Doc.,JUDr.,PhD.,NaN,NaN
1,14002860472,Dušan,Korgo,DOC,JUDR,PHD,NaN,NaN
2,17922733804,Ján,Buzalka,prof.,PhDr.,CSc.,NaN,NaN
3,16290288493,Jozef,Stieranka,prof.,Ing.,PhD.,NaN,NaN
4,21401303068,Ľuboš,Wäldl,doc.,JUDr.,PhD.,NaN,NaN
...,...,...,...,...,...,...,...,...
32730,12110964830,Joža,Spurný,doc.,JUDr.PhDr.,Ph.D.,NaN,NaN
32731,13500390262,Marcela,Harčárová,None,Mgr.,None,NaN,NaN
32732,17108478442,Jana,Juhásová,None,Mgr.,None,NaN,NaN
32733,15917135755,Miriama,Kubušová,None,Mgr.,None,NaN,NaN
32734,51680829014,Jana,Ochodnícka,None,PhDr.,None,NaN,NaN

* súbory majú príponu `xls` pre roky 2008 - 2012, inak majú `xlsx`

In [7]:
nazvy = []
for y in range(2008, 2013):
    nazvy.append(f"data/dotacie{y}.xls")
for y in range(2013, 2023):
    nazvy.append(f"data/dotacie{y}.xlsx")

In [8]:
nazvy

['data/dotacie2008.xls',
 'data/dotacie2009.xls',
 'data/dotacie2010.xls',
 'data/dotacie2011.xls',
 'data/dotacie2012.xls',
 'data/dotacie2013.xlsx',
 'data/dotacie2014.xlsx',
 'data/dotacie2015.xlsx',
 'data/dotacie2016.xlsx',
 'data/dotacie2017.xlsx',
 'data/dotacie2018.xlsx',
 'data/dotacie2019.xlsx',
 'data/dotacie2020.xlsx',
 'data/dotacie2021.xlsx',
 'data/dotacie2022.xlsx']

* `sheet_name=None` načíta všetky hárky zo súboru do dictionary, kde values sú dataframe-y a keys sú názvy hárkov

In [9]:
dotacie = {}

for i, file_name in enumerate(nazvy):
    dotacie[i+2008] = pd.read_excel(file_name, sheet_name=None)
#tuto ma problem s nejakymi datumami

C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D24 is marked as a date but the serial value 6343450 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D43 is marked as a date but the serial value 6975100 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F44 is marked as a date but the serial value 7950880 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4389595 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D43 is marked as a date but the serial value 8878115 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4298228 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D43 is marked as a date but the serial value 8318468 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell C77 is marked as a date but the serial value 25107902.024399996 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D77 is marked as a date but the serial value 29182660.2 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4956630 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4298228 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 8215407 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell C77 is marked as a date but the serial value 27232114.670799997 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D77 is marked as a date but the serial value 32441146.875 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4728948 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4956630 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 8323404 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell C77 is marked as a date but the serial value 27905737.516799994 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D77 is marked as a date but the serial value 32225707.125 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 5343925 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 9480900 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 5062100 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 5343925 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 9676850 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4851050 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 5062100 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D46 is marked as a date but the serial value 10530350 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4826025 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4851050 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F46 is marked as a date but the serial value 9200135 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D23 is marked as a date but the serial value 4946000 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell D26 is marked as a date but the serial value 4826025 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():
C:\Users\roman\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Cell F46 is marked as a date but the serial value 9822340 is outside the limits for dates. The cell will be treated as an error.
  for idx, row in parser.parse():