# Analýza dát

In [2]:
import pandas as pd

In [4]:
df_graduates = pd.read_csv('../data/preprocessed/cvtisr/graduates.csv', sep=';')
df_teachers_summary = pd.read_csv('../data/preprocessed/cvtisr/teachers_summary.csv', sep=';')
df_teachers_degrees = pd.read_csv('../data/preprocessed/cvtisr/teachers_degrees.csv', sep=';')

In [5]:
display(df_teachers_summary)

,univerzita,rok,počet full-time zamestnancov,počet part-time zamestnancov
0,AU,2009,90,26
1,AU,2010,95,21
2,AU,2011,105,21
3,AU,2012,105,20
4,AU,2013,106,29
...,...,...,...,...
275,ŽU,2018,558,51
276,ŽU,2019,559,37
277,ŽU,2020,545,39
278,ŽU,2021,518,44
279,ŽU,2022,527,43