# Analýza dát

In [6]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import plotly
import numpy as np

In [2]:
df_graduates = pd.read_csv('../data/preprocessed/cvtisr/graduates.csv', sep=';')
df_teachers_summary = pd.read_csv('../data/preprocessed/cvtisr/teachers_summary.csv', sep=';')
df_teachers_degrees = pd.read_csv('../data/preprocessed/cvtisr/teachers_degrees.csv', sep=';')

In [3]:
display(df_teachers_summary)

,univerzita,rok,počet full-time zamestnancov,počet part-time zamestnancov
0,AU,2009,90,26
1,AU,2010,95,21
2,AU,2011,105,21
3,AU,2012,105,20
4,AU,2013,106,29
...,...,...,...,...
275,ŽU,2018,558,51
276,ŽU,2019,559,37
277,ŽU,2020,545,39
278,ŽU,2021,518,44
279,ŽU,2022,527,43

In [5]:
display(df_teachers_degrees)

,univerzita,rok,typ učiteľa,úväzok,DrSc.,"CSc., PhD.",iný/žiadny titul,spolu
0,AU,2009,asistent,full-time,0,0,10,10
1,AU,2009,asistent,part-time,0,0,3,3
2,AU,2009,docent,full-time,0,4,9,13
3,AU,2009,docent,part-time,0,1,2,3
4,AU,2009,hosťujúci profesor,full-time,0,0,0,0
...,...,...,...,...,...,...,...,...
3343,ŽU,2022,lektor,part-time,0,0,3,3
3344,ŽU,2022,odborný asistent,full-time,0,226,3,229
3345,ŽU,2022,odborný asistent,part-time,0,32,0,32
3346,ŽU,2022,profesor,full-time,2,86,0,88
3347,ŽU,2022,profesor,part-time,0,1,0,1

## Počty učiteľov

In [13]:
typy = df_teachers_degrees["typ učiteľa"].unique()
roky = df_teachers_degrees["rok"].unique()

pocty = {}
for rok in roky:
    temp = df_teachers_degrees[df_teachers_degrees["rok"] == rok]
    counts = temp["typ učiteľa"].value_counts()
    for typ in typy:
        if rok not in pocty:
            pocty[rok] = dict()
        pocty[rok][typ] = counts[typ]
        
display(pocty)

{2009: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2010: {'asistent': 39,
  'docent': 39,
  'hosťujúci profesor': 39,
  'lektor': 39,
  'odborný asistent': 39,
  'profesor': 39},
 2011: {'asistent': 39,
  'docent': 39,
  'hosťujúci profesor': 39,
  'lektor': 39,
  'odborný asistent': 39,
  'profesor': 39},
 2012: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2013: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2014: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2015: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2016: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2017: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2018: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2019: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2020: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2021: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40},
 2022: {'asistent': 40,
  'docent': 40,
  'hosťujúci profesor': 40,
  'lektor': 40,
  'odborný asistent': 40,
  'profesor': 40}}

In [14]:
df = pd.DataFrame(pocty)

In [15]:
display(df)

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
asistent,40,39,39,40,40,40,40,40,40,40,40,40,40,40
docent,40,39,39,40,40,40,40,40,40,40,40,40,40,40
hosťujúci profesor,40,39,39,40,40,40,40,40,40,40,40,40,40,40
lektor,40,39,39,40,40,40,40,40,40,40,40,40,40,40
odborný asistent,40,39,39,40,40,40,40,40,40,40,40,40,40,40
profesor,40,39,39,40,40,40,40,40,40,40,40,40,40,40